<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HotelMGMT.Properties.Settings.hotelMGMTConnectionString"
            connectionString="Data Source=YASHSHETH\SQLEXPRESS;Initial Catalog=hotelMGMT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>